%nav.projects-navbar.navbar.fixed-top.position-sticky.navbar-expand-sm.navbar-dark.bg-dark{"aria-label" => "Third navbar example"}
  .container-fluid.ps-4.pe-4
    = link_to 'YokaTodoApp', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "projects-toggle", "aria-expanded" => "false", "data-bs-target" => "#projects-toggle", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #projects-toggle.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
            - if @project.persisted?
              = @project.name
            - else
              = '新規プロジェクト作成'
          %ul.dropdown-menu
            - @projects.each do |project|
              %li
                = link_to project.name, project_path(project), class: 'dropdown-item'
            .dropdown-divider
            %li
              = link_to '新規プロジェクト', new_project_path, class: 'dropdown-item'
