!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TODOApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = render 'layouts/header'
    = render 'layouts/toast'
    - if project_path?(@project)
      .d-flex
        = render 'layouts/sidebar'
        .container.d-flex.flex-column.justify-content-center.align-items-center
          = yield
    - else
      .container.d-flex.flex-column.justify-content-center.align-items-center
        = yield
